<!DOCTYPE html>
<html>
<head>
<title>PSotClaculatroadishun</title>
<style>
  p {
    margin-top:3px;
    margin-bottom:3px;
  }

  .answer {
    font-size:3em;
    background-color: deepskyblue;
  }

  .textbox1 {
    color:pink;
    background-color:brown;
    border-width:thin;
    font-family:'Serif';
  }

  .textbox2 {
    color:pink;
    background-color:brown;
    border-width:thin;
    font-family:'Monospace';
    margin-left:25px;
  }

  .submitButton {
    color:red;
    background-color:aqua;
    border-width:thick;

  }
</style>  

</head>

<body style="background-color:#28ff00"> <!-- hey hey background color -->
<h1 style="color:#fff700"> hey, hey, hey-der </h1>

<h1 style="margin-bottom:3px;color:#7a9703;font-size:3em;font-family:'Comic Sans MS'"><strong><u><del>PSotClaculatroadishun</del></u></strong></h1>


<!-- important stuff -->

<form method="post">

<p style="font-size:16px;font-family:'Serif';">numer &nbsp;&nbsp;&nbsp; won</p>
<p><input class="textbox1" type="number" step="1" type="number" name="numb1" required></p> <!--first number text box-->


<p style="font-size:16px;font-family:'Monospace'">&nbsp&nbsp;&nbsp;mumber    too</p> 
<p><input class="textbox2" type="number" step="1" type="number" name="numb2" required></p> <!--second number text box-->


<p><input class="submitButton" type="submit" formaction="/add" placeholder="Number 1"></p> <!-- submit button -->
</form>

<p class="answer"> {{ display }}<p>


<!-- end of important stuff -->


<h1 style="font-family:'Comic Sans MS'"><strong>adDs (plez disable ur adbloker)</strong></h1>

<a href = "https://www.youtube.com/watch?v=oHg5SJYRHA0">
<img style="float:right" src="{{url_for('static', filename='advertisement.png')}}" alt="if u see it mean no work"  height="40%" width="40%">
</a>

<a href = "https://www.youtube.com/watch?v=oHg5SJYRHA0">
<img src="/static/advertisement2.png" height="40%" width="40%" alt="if u see it mean no work">
</a>

</body>
</html>

<!-- https://www.w3schools.com/colors/colors_picker.asp -->